Assignments/A03/game_data/*
Assignments/A04/.CONFIG/*
Assignments/A04/.vscode/*
Assignments/A07/images/*
Assignments/A07/__pycache__/*
Assignments/A08/emojis/*
Assignments/A08/terraria_buffs/*
Assignments/A08/__pycache__/*
Assignments/A08/.vscode/*
Assignments/A08/*.zip
secret/*